USE [master]
GO
/****** Object:  Database [DBXYZ]    Script Date: 9/10/2024 13:39:21 ******/
CREATE DATABASE [DBXYZ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBXYZ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DBXYZ.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBXYZ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DBXYZ_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBXYZ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBXYZ]
GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 9/10/2024 13:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[IdDepartamento] [int] IDENTITY(1,1) NOT NULL,
	[NombreDepartamento] [varchar](100) NULL,
	[Region] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDepartamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 9/10/2024 13:39:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADOS](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Apellido] [varchar](100) NULL,
	[telefono] [varchar](8) NULL,
	[FechaContratacion] [datetime] NULL,
	[IdDepartamento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DEPARTAMENTO] ON 

INSERT [dbo].[DEPARTAMENTO] ([IdDepartamento], [NombreDepartamento], [Region]) VALUES (1, N'Ahuachapán', N'Occidente')
INSERT [dbo].[DEPARTAMENTO] ([IdDepartamento], [NombreDepartamento], [Region]) VALUES (2, N'Cabañas', N'Central')
INSERT [dbo].[DEPARTAMENTO] ([IdDepartamento], [NombreDepartamento], [Region]) VALUES (3, N'Chalatenango', N'Central')
SET IDENTITY_INSERT [dbo].[DEPARTAMENTO] OFF
GO
SET IDENTITY_INSERT [dbo].[EMPLEADOS] ON 

INSERT [dbo].[EMPLEADOS] ([IdEmpleado], [Nombre], [Apellido], [telefono], [FechaContratacion], [IdDepartamento]) VALUES (2, N'Mario Ernesto', N'Escobar Vaquerano', N'73181827', CAST(N'2024-10-09T11:37:57.280' AS DateTime), 1)
INSERT [dbo].[EMPLEADOS] ([IdEmpleado], [Nombre], [Apellido], [telefono], [FechaContratacion], [IdDepartamento]) VALUES (3, N'CLAUDIA PATRICIA', N'DE ESCOBAR', N'73181825', CAST(N'2024-10-09T12:11:12.493' AS DateTime), 10)
INSERT [dbo].[EMPLEADOS] ([IdEmpleado], [Nombre], [Apellido], [telefono], [FechaContratacion], [IdDepartamento]) VALUES (4, N'Carlos Alberto ', N'Aguilar Cesar', N'75689654', CAST(N'2024-10-09T12:24:05.283' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[EMPLEADOS] OFF
GO
ALTER TABLE [dbo].[EMPLEADOS] ADD  DEFAULT (getdate()) FOR [FechaContratacion]
GO
ALTER TABLE [dbo].[EMPLEADOS]  WITH CHECK ADD FOREIGN KEY([IdDepartamento])
REFERENCES [dbo].[DEPARTAMENTO] ([IdDepartamento])
GO
USE [master]
GO
